{{#partial "content"}}

    <div class="row">
        <div class="col-md-6">
            {{#if squads}}
                {{#each squads}}
                    <p>{{squadName}}</p>
                    <a href="/squads/{{id}}" class="btn btn-info">Details</a>
                {{/each}}
            {{/if}}
        </div>
        <div class="col-md-6">
            {{#if heroes}}
                {{#each heroes}}
                    <p>{{heroName}}</p>
                    <a href="/heroes/{{id}}" class="btn btn-info">Details</a>
                {{/each}}
            {{/if}}
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}